.body {
  background-color: #aeaeae;
  height: 100%;
}

.dosis-header-text .body {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 1vw;
  font-style: normal;
}

.dosis-header-text .header-text h3 {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: 1vw;
  font-style: normal;
}

.logo {
  position: relative;
  left: -119%;
  top: 0;
  width: 20vw;
  height: 100%;
}

.header-text {
  position: relative;
  height: 650px;
  background-color: #f8f1ff;
  padding-top: 100px;
  padding-left: 100px;
}

.header-text h3 {
  position: absolute;
  bottom: 11%;
  font-family: "Dosis", serif;
  color: #585759;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em;
  /* Adjust as needed */
  animation:
    typing 3.0s steps(40, end),
    blink-caret .75s step-end infinite;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 55%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #b58fd8;
  }
}

.nav-item {

  margin-top: 1vw;
  margin-left: 2vw;
  color: #474747;

}

.nav-link {
  color: #3a3a3a
}

.btn {
  background-color: #f8f1ff;
  border: 1px;
  color: #7F7C82;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border: 5px rgb(219, 219, 219) solid;
  margin-top: 107px;
  margin-left: 50px;
  position: relative;

}

.about-me {
  width: 50%;
  color: #474747;
  font-size: large;
  font-family: cursive;
  border-radius: 5px;
  padding: 3vw 5vw 2vw 4vw;
  background-image: linear-gradient(#f1eded, #ccbddb);
  border: .1vw solid gray;
  box-shadow: .1vw .1vw 2vw #525054;
  position: relative;
  bottom: 0vw;

}

.profile-img {
  width: 25%;
  height: 25%;
  padding: 1vw;
  margin: -3vw;
  position: relative;
  right: -20%;
  border: 2px 2px solid rgb(77, 74, 74);
  box-shadow: 1vw 1vw 3vw #555;
  border-radius: 4vw;
  top: -2vw;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #585858a4;
  margin: 23px;
  padding: 20px;
  border: 2px 2px 15px gray;
  box-shadow: 2px 2px 5px #585759;

}

#skills {
  background-color: #f8f1ff;
}

.skills {
  height: 75%;
  width: auto;
  background-color: #f8f1ff;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}



.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  margin: 5%;
  grid-gap: 5%;


}

.projects-list h2 {
  text-align: center;
}

.project {
  border: 3px solid gray;
  width: 90%;
  padding: 5%;
  background-color: #f8f1ff;
  height: auto;
  box-shadow: 1vw 1vw 1vw #474747;
  border-radius: 2vw;

}

.p-img {
  width: 100%;
  height: 50%;
  border-radius: .7vw;
}

.project:hover {
  scale: 1.2;
  transition-delay: .0.5s;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.education {
  height: auto;
  background-color: white;
  text-align: center;
}



.events {
  height: auto;
  background-color: #f8f1ff;
  position: relative;

}

.event {
  width: 45%;
  position: relative;
  left: 28%;
  display: flex;
  flex-direction: row;
  border: 3px solid gray;
  justify-content: space-around;
  /* padding-left: 5%;
  padding-right: 17%;  */
  text-align: center;
  padding: 2vw;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px gray;

}

.form {
  margin-top: 20%;
  text-align: left;
  background-color: #f8f1ff;
  padding: 3vw 25%;
  width: auto;
  border-radius: 1vw;
  box-shadow: 1vw 1vw 1vw #555;
  height: auto;
  margin-left: -200%;
  margin-right: 41%;
  border: 2px 2px 5px #3a3a3a;
  position: relative;
  left: -55%;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 3vw;
  margin-top: 1vw;
  /* padding-right: 30%; */
  border-radius: 1v;
}

.label {
  font-size: 2vw;
  font-family: "Dosis", serif;
  width: auto;

}

.contact {
  display: flex;
  justify-content: space-evenly;
  margin: 3vw 0vw;
  position: relative;


}

.button {
  right: -72%;
  position: relative;
  background-color: #b58fd8;
  border: 1px;
  color: #434343;
  cursor: pointer;
  font-size: 2vw;
  border-radius: 7%;
  box-shadow: 2px 2px 15px #474747;
  position: relative;
  top: 15vw;
  padding-left: 10%;
  padding-right: 10%;

}

.vl {
  border-left: .5vw solid #f8f1ff;

  /* margin-left: 15%; */

}

.a {
  text-decoration: none !important;
}

.footer {
  background-color: #BFA2DB;

  display: flex;
}



.Technical-skills {
  position: relative;
  width: 100%;
  margin-left: 15%;

}

.nav {
  font-size: large;
  background-color: #BFA2DB;
  text-decoration: none;
}

.hala {
  color: #b58fd8;
  font-size: 40px;
  position: relative;
  top: -70px;
  text-shadow: 1px 1px 2px #585759;
}

.full {
  color: #585759;
  font-size: 4vw;
  text-shadow: 2px 5px 12px #a880d0;
  position: relative;
  top: -37px;
}

.cards {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-around;
}

.card1 {
  position: relative;
  width: 65%;
  height: auto;
  background-color: #f8f1ff;
  margin: 1% 15%;
  padding: 20px;
  border: 3px solid gray;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #585759;

}

.card h5 {
  font-weight: bold;
  text-shadow: 2px 2px 5px #a880d0;
}

.education h1 {
  color: #434343;
  position: relative;
  top: 20px;
  padding-top: 20px;
}

.education div {
  position: relative;
  /* margin-left: 10%; */
  padding-bottom: 3%;

}

.card1 img {
  width: 20%;
  height: 40%;
}

.skill-cards {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70%, 0));
  justify-content: space-between;
}

.skills h1 {
  color: #434343;
  position: relative;
  /* top: .1vw;
  padding-top: 0vw; */
}

/* .soft-div {
  position: relative;
}

.soft-div h2 {
  text-align: left;
  position: relative;
  left: 17vw;
  top: -3vw;
} */


.halaButton {
  position: relative;
  background-color: #b58fd8;
  border: 1px;
  color: #434343;
  padding: .7vw 2vw;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 4vw;
  box-shadow: 2px 2px 15px #474747;
  position: relative;
  left: 27vw;
  top: 1vw;

}

.all-events {
  position: relative;
  height: auto;
  padding-bottom: 5%;
}

#contact {
  padding-top: 2%;
}

.icon {

  display: flex;
  gap: 5%;
  align-items: left;
  width: 50%;
  margin-left: 37%;
  margin-top: 0;


}

.card1:hover {
  background-color: #b58fd8;
}

.card:hover {
  box-shadow: 10px 10px 50px #BFA2DB;
  background-color: lavender;
}

.event:hover {
  box-shadow: 10px 10px 50px #BFA2DB;
  background-color: lavender;
}

.halaButton:hover {
  box-shadow: 20px 20px 100px #a880d0;
  background-color: #f0dfeb;

}

.ifram {
  border: 0;
  margin-top: 0;
  margin-left: 1%;
  border-radius: 3%;
  margin-right: 1%;
  width: 53%;
  height: -1;
  margin: 5% 2%;
}

.icons {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 5%;
  width: auto;
  margin-left: 20%;
  margin-top: -120px;
  row-gap: 0%;
}

.f-bar {
  text-align: left;
  width: 50%;
  padding: 0px 12%;
}

.nav-link1 {
  color: white;
  font-family: Dosis, serif;
  font-size: xx-large;
  padding: 1%;
  text-decoration: none;
}